<%= render 'books/list', books: @books %>

<main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2>Sign up</h2>
      <form id="new_user" class="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="W0W44qIEoWdsaNKa0F-qcmgXq2gLZvsAJItsDLBRmci3-5XUMR5_aonTHXmIzzWgZWe1D20M8c05u9rerXi9ig" autocomplete="off">
        <div class="field">
          <label for="user_name">Name</label><br>
          <input autofocus="autofocus" class="name" type="text" name="user[name]" id="user_name">
        </div>
        <div class="field">
          <label for="user_email">Email</label><br>
          <input autofocus="autofocus" class="email" type="email" value="" name="user[email]" id="user_email">
        </div>
        <div class="field">
          <label for="user_password">Password</label>
          <em>(6 characters minimum)</em>
          <br>
          <input autocomplete="off" class="password" type="password" name="user[password]" id="user_password">
        </div>
        <div class="field">
          <label for="user_password_confirmation">Password confirmation</label><br>
          <input autocomplete="off" class="password_confirm" type="password" name="user[password_confirmation]" id="user_password_confirmation">
        </div>
        <div class="actions">
          <input type="submit" name="commit" value="Sign up" class="btn btn-sm btn-success" data-disable-with="Sign up">
        </div>
      </form>        <a href="/users/sign_in">Log in</a><br>
    </div>
  </div>
</div>
</main>

<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>
