
<%= render 'users/userinfo', user: @user %>  
          <div class="col-md-8 offset-md-1">
              <h2>Users</h2>
            <table class="table table-hover table-inverse">
                <thead>
                  <tr>
                    <th></th>
                    <th>image</th>
                    <th>name</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
          </div>
          
        
      </div>
    </div>
</main>


<%= paginate @books %>